header#page-header {
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .3s ease-in-out;

    .navbar-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 4px;
        width: 100%;
        padding: 10px 30px;
        transition: all .3s ease-in-out;
        box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0);

        .navbar-brand {
            text-decoration: none;

            h1 {
                color: $black;
                font-weight: 900;
                font-size: 20px;

                span {
                    color: $primary;
                }
            }
        }

        nav.navbar {
            display: flex;
            flex-direction: row;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    a {
                        color: $black;
                        font-size: 15px;
                        padding: 20px 15px;

                        i,
                        svg {
                            transition: all .3s ease-in-out;
                        }

                        &:hover {
                            color: $primary;

                            i,
                            svg {
                                color: $primary;
                            }
                        }

                        @include media-breakpoint-down(xl) {
                            padding: 20px 8px;
                        }

                        @include media-breakpoint-down(lg) {
                            padding: 20px 0;
                            font-size: 20px;
                            font-weight: 600;
                            width: 100%;
                        }
                    }

                    &.active {
                        a {
                            color: $primary;
                        }
                    }

                    &.has-children {
                        position: relative;

                        a {
                            display: flex;
                            align-items: center;


                            .icon-border {
                                svg {
                                    margin-left: 5px;
                                    transform: rotate(0deg);
                                    transition: all .3s ease-in-out;

                                    @include media-breakpoint-down(lg) {
                                        margin-left: 0;
                                    }
                                }

                                @include media-breakpoint-down(lg) {
                                    background-color: #EAFCF9;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                &.icon-rotate {
                                    svg {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            @include media-breakpoint-down(lg) {
                                justify-content: space-between;
                            }
                        }

                        .dropdown {
                            background-color: #fff;
                            border-top: 3px solid $primary;
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                            transition: all .3s ease-in-out;
                            min-width: 250px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            left: 50%;
                            transform: translateX(-50%);
                            padding: 9px 0;

                            li {
                                a {
                                    padding: 9px 20px;

                                    @include media-breakpoint-down(lg) {
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }

                                @include media-breakpoint-down(lg) {
                                    width: 100%;
                                }
                            }

                            @include media-breakpoint-down(lg) {
                                position: unset;
                                min-width: unset;
                                visibility: unset;
                                opacity: unset;
                                transform: unset;
                                border: none;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                padding-left: 25px;
                                height: 0;
                                display: none;
                            }

                            &.collapse {
                                @include media-breakpoint-down(lg) {
                                    height: max-content;
                                    display: flex;
                                    transition: height .35s;
                                }
                            }
                        }

                        &:hover {
                            .dropdown {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }
                }

                @include media-breakpoint-down(lg) {
                    flex-direction: column;
                    margin-top: 40px;
                    width: 100%;
                }
            }

            a {
                display: block;
            }

            @include media-breakpoint-down(lg) {
                position: absolute;
                right: -100%;
                flex-direction: column;
                width: 30vh;
                height: 100vh;
                top: 0;
                background-color: #fff;
                z-index: 1030;
                transition: all .3s ease-in-out;
            }

            .close {
                display: none;

                @include media-breakpoint-down(lg) {
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }

                .line {
                    @include media-breakpoint-down(lg) {
                        width: 40px;
                        height: 4px;
                        background-color: $primary;
                        display: block;
                        margin: 8px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }

                    &:first-child {
                        @include media-breakpoint-down(lg) {
                            transform: rotate(45deg) translate(9px, 9px);
                        }
                    }

                    &:last-child {
                        @include media-breakpoint-down(lg) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            @include media-breakpoint-down(lg) {
                overflow-y: auto;
                padding: 0 30px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                height: calc(100vh - 64px);
                top: 64px;
            }
        }

        .main-button {
            margin-left: 15px;

            @include media-breakpoint-down(xl) {
                margin-left: 8px;
            }

            @include media-breakpoint-down(xl) {
                margin-left: 0;
                margin-right: auto;
            }
        }

        .mobile-toggler {
            display: none;

            @include media-breakpoint-down(lg) {
                display: block;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
                z-index: 1031;
            }

            .line {
                @include media-breakpoint-down(lg) {
                    width: 45px;
                    height: 4px;
                    background-color: $primary;
                    display: block;
                    margin: 8px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

                &:nth-child(2) {
                    @include media-breakpoint-down(lg) {
                        -webkit-transition-delay: 0.3s;
                        -o-transition-delay: 0.3s;
                        transition-delay: 0.3s;
                    }
                }
            }

            &.mobile-menu-open {
                @include media-breakpoint-down(lg) {
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition-delay: 0.6s;
                    -o-transition-delay: 0.6s;
                    transition-delay: 0.6s;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                .line {
                    &:nth-child(2) {
                        @include media-breakpoint-down(lg) {
                            width: 0px;
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(3) {
                        @include media-breakpoint-down(lg) {
                            -webkit-transition-delay: 0.3s;
                            -o-transition-delay: 0.3s;
                            transition-delay: 0.3s;
                        }
                    }

                    &:nth-child(1) {
                        @include media-breakpoint-down(lg) {
                            -webkit-transform: translateY(13px);
                            -ms-transform: translateY(13px);
                            -o-transform: translateY(13px);
                            transform: translateY(13px);
                        }
                    }

                    &:nth-child(3) {
                        @include media-breakpoint-down(lg) {
                            -webkit-transform: translateY(-13px) rotate(90deg);
                            -ms-transform: translateY(-13px) rotate(90deg);
                            -o-transform: translateY(-13px) rotate(90deg);
                            transform: translateY(-13px) rotate(90deg);
                        }
                    }
                }
            }
        }


        @include media-breakpoint-down(lg) {
            padding: 10px 15px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .container-fluid {
        @include media-breakpoint-down(lg) {
            padding: 0;
        }
    }

    @include media-breakpoint-down(lg) {
        top: 0;

    }

    &.navigation-scrolled {
        top: 0;

        .navbar-holder {
            box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.05);
        }
    }
}



.mobile-menu-open+.navbar {
    @include media-breakpoint-down(lg) {
        right: 0 !important;
    }
}